
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: -1rem;
  font-size: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 480px;
  padding-top: 40px;
  backdrop-filter: blur(20px);
}

.footerLink {
  display: inline;
  color: #ffffff;
}

.arrowImage {
  padding-right: 10px;
}

.name {
  position: relative;
  left: 30px;
  font-size: 2.5rem;

  -webkit-transition: all 0.3s linear;
}

.name:hover {
  -webkit-transition: 0.3s linear;
  font-weight: bold;
  color: #E2EAEB;
  transform: scale(1.1, 1.1);
  -webkit-text-stroke: 0.5px #ffb703;
}


.nav {
  position: absolute;
  right: 100px;
}

.chrisPhoto {
  border-radius: 200px;
}

.bgWrap {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}