

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    grid-template-rows: repeat(3, 1fr, 2fr, 2fr); /* 3 rows: 0.2, 0.4, 0.4 */
    grid-template-areas: 
        "facts about1 about1"
        "facts about2 about3"
        "facts about4 about5";
    /* gap: 2%; */
    
}

.grid1 {
    grid-area: facts;
}

.grid2 {
    grid-area: about1;
}

.grid3 {
    grid-area: about2;
}

.grid4 {
    grid-area: about3;
}

.grid5 {
    grid-area: about4;
}

.grid6 {
    grid-area: about5;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
    margin: 1em;
    border-radius: 0.3em;
    padding: 1em;
    backdrop-filter: var(--card-blur);
    background-color: var(--semiOpaque-bg);
    border: var(--faintBorder);
    transition: 0.1s;
}

.roleHeading {
    font-size: 1.8em;
    font-weight: semi-bold;
}

.roleContent {
    font-size: 1.1em;
    margin-left: 0.7em;
}

.roleLink:hover, .skillLink:hover {
    font-style: italic;
    text-decoration: underline;
}

.skillBlurb {
    text-align: center;
    line-height: 1.5;
    margin: auto;
}

.skillHeading {
    font-size: 1.2em;
    font-weight: semi-bold;
}

.skillContent, .roleContent {
    line-height: 1.2; 
}

.skillContent > li {
    padding-bottom: 0.3em;
}

.skillLink {
    /* color: #A5C9FF; */
    /* font-weight: bold; */
    color: #c4c4c4;
}

.grid1:hover, .grid2:hover, .grid3:hover, .grid4:hover, .grid5:hover, .grid6:hover {
    outline: ridge 2px rgba(255, 255, 255, 0.8);
    background-color: rgba(25, 25, 54, 0.5);
  }

  
  @media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        grid-template-areas: 
            "about1"
            "facts"
            "about2" 
            "about3"
            "about4"
            "about5";
        gap: 2%;
        overflow: auto;
        text-align: center;
    }
  }