.name {
  position: relative;
  left: 2rem;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s linear;
}

.name:hover {
  -webkit-transition: 0.3s linear;
  font-weight: bold;
  color: #e2eaeb;
  transform: scale(1.1, 1.1);
  -webkit-text-stroke: 0.5px #ffb703;
}

.nav {
  position: absolute;
  right: 1em;
}

@media and screen (max-width: 400px) {
  
  .name {
    left: 1rem;
    font-size: 1.5rem;
  }

  /* remove line break in .name and replace with space */
  .name > br {
    content: ' ';
  }
}
