.container {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  height: 480px;
  width: 480px;
  padding-top: 40px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2); 
}

.title {
  margin: 0.4rem; /* override default margin (0.67em top+bottom, 0em left+right)  for h1 to reduce spacing*/ 
}

.descriptionContainer {
  display: flex;
}

.description {
  margin: auto;
  padding: 0rem 1rem 1rem;
  font-size: 1.5rem; 
  display: inline;
}

.chrisPhoto {
  border-radius: 200px;
}

@media screen and (max-width: 768px){

  .card {
    max-width: 350px;
  }

  .description {
    padding: 0rem 0.4rem 0.1rem;
  }
}


@media screen and (max-width: 360px) {

  .card {
    max-width: 300px;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
  }
}


