/* description slidein */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


.container {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionTop {
  margin-top: -1rem;
  font-size: 1.5rem;
  animation: 1s ease-in 0s slideInLeft;
}

.descriptionBottom {
  margin-top: -1rem;
  font-size: 1.5rem;
  animation: 1s ease-in 0s slideInRight;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 480px;
  padding-top: 40px;
  backdrop-filter: blur(20px);
}

.chrisPhoto {
  border-radius: 200px;
}


