.projectHeading {
  margin: 2em;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.3); /* white, low opacity background helps boxes stand out*/
  width: 90%;
  padding: 0em 3em;
  font-size: 1.2em;
}

.projectHeading > p {
  text-align: center;
}

/* flex grid magic https://codepen.io/irinakramer/pen/oNmxYm */
.grid {
  max-height: 100%; /* fits in space between header and footer */
  overflow: auto; /* scrollbar loads if needed*/
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projectCard {
    margin: 2em;
    justify-content: space-around;
    flex-basis: 45%;
    padding: 10px 0px;
    backdrop-filter: blur(20px);
    align-items: center; /* centres and prevents stretching */
    background-color: rgba(255, 255, 255, 0.3); /* white, low opacity background helps boxes stand out*/
    display: flex;
    flex-wrap: wrap;
  }

  .projectMedia {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  .projectImage {
    width: 70%;
  }

  .techLogos {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    gap: 1em;
    width: 8%;
  }

  .projectTitle {
    font-size: 2em;
    margin: 0.2em;
  }

  .projectBlurb {
    width: 90%;
    text-align: justify;
  }


  /* scrollbar background formatting */
.grid::-webkit-scrollbar
{
  width: 10px;
	background-color: #c4c4c4;
}

/* scrollbar thumb formatting */
.grid::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #7a7a7a;
}
